
<section id="header-course">

  <div>
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <p class="course-code">CODE: {{this.courseCode}}</p>
  </div>

  <img src="{{image_URL}}" alt="Medalla {{title}}">

</section>

<section id="questions">

  {{#each questions as |question|}}

  <a href="/question/{{question}}">
    <div class="horizontal">
      
      <div class="circle"></div>
      <p>Pregunta {{@index}}</p>

    </div>
  </a>

  {{/each}}

</section>


