
<section id="header-course">

  <div>
    <h2>{{course.title}}</h2>
    <p>{{course.description}}</p>
    <p class="course-code">CODE: {{course.courseCode}}</p>
  </div>

  <img src="{{course.image_URL}}" alt="Medalla {{course.title}}">

</section>

<section id="questions">

  {{#each course.questions as |question|}}

  <a href="/question/{{question}}">
    <div class="horizontal">
      
      <div id={{question}} class="circle"></div>
      <p>Pregunta {{@index}}</p>

    </div>
  </a>

  {{/each}}

</section>
