<section id="all-courses">
<h1>CURSOS</h1>

{{#each allCourses}}

  <a href="/courses/{{this.id}}">

    <article class="course-card">

      <div>
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <p class="course-code">{{this.courseCode}}</p>
      </div>

      <img src="{{this.image_URL}}" alt="Medalla {{this.title}}">

    </article>

  </a>

{{/each}}

</section>
