<h1>Question</h1>
<h2>{{content}}</h2>
<img src="{{image_URL}}" alt="image">
<p>{{option1}}</p>
<p>{{option2}}</p>
<p>{{option3}}</p>
<p>{{option4}}</p>
<p>{{option5}}</p>
<p>{{feedback}}</p>
<button><a href="/courses">Regresa al curso.</a></button>