<h1>Question</h1>
<h2>{{question.content}}</h2>
<img src="{{question.image_URL}}" alt="image">
<form action="/validate/{{question._id}}" method="POST">
  <input type="radio" name="response" value="option1">
  <label>{{question.option1}}</label>
  <input type="radio" name="response" value="option2">
  <label>{{question.option2}}</label>
  <input type="radio" name="response" value="option3">
  <label>{{question.option3}}</label>
  <input type="radio" name="response" value="option4">
  <label>{{question.option4}}</label>
  <input type="radio" name="response" value="option5">
  <label>{{question.option5}}</label>
  <input type="submit">
</form>
<h1>{{message}}</h1>
<button><a href="/courses">Regresa al curso.</a></button>
<a href="/question/{{nextQuestion._id}}">Next</a>