<section id="question-layout">

<h2>{{question.content}}</h2>

<img src="{{question.image_URL}}" alt="image">

<form action="/validate/{{question._id}}" method="POST">

  <input type="radio" name="response" value="option1">
  <label>{{question.option1}}</label>
  <input type="radio" name="response" value="option2">
  <label>{{question.option2}}</label>
  <input type="radio" name="response" value="option3">
  <label>{{question.option3}}</label>
  <input type="radio" name="response" value="option4">
  <label>{{question.option4}}</label>
  <input type="radio" name="response" value="option5">
  <label>{{question.option5}}</label>
  <input type="submit">

</form>

<p>{{message}}</p>

<a href="/courses">Regresar al curso</a>
<a href="/question/{{nextQuestion._id}}">Siguiente pregunta</a>

</section>