<section id="question-layout">
  <div>
    <h4>{{message}}</h4>
    <p>{{question.content}}</p>

    <img src="{{question.image_URL}}" alt="image">

    <form action="/validate/{{question._id}}" method="POST">

      <div class="option">
        <input type="radio" name="response" value="option1">
        <label>{{question.option1}}</label>
      </div>
      <div class="option">
        <input type="radio" name="response" value="option2">
        <label>{{question.option2}}</label>
      </div>
      <div class="option">
        <input type="radio" name="response" value="option3">
        <label>{{question.option3}}</label>
      </div>
      <div class="option">
        <input type="radio" name="response" value="option4">
        <label>{{question.option4}}</label>
      </div>
      <div class="option">
        <input type="radio" name="response" value="option5">
        <label>{{question.option5}}</label>
      </div>
      <input type="submit" value="Enviar">

    </form>

    <div id="control-buttons">
      <a href="/courses/{{id}}">CURSO</a>
      <a href="/question/{{nextQuestion._id}}">SIGUIENTE</a>

    </div>


  </div>


</section>