<section id="question-header">
  <div>
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <p class="course-code">{{courseCode}}</p>
  </div>
<img src="{{image_URL}}" alt="Medalla {{title}}">
</section>


<section id="question-create-container">





<form action="/create/course/{{_id}}" method="POST" enctype="multipart/form-data">
  <h2>Crea una pregunta</h2>
  <div>
    <label>Pregunta</label>
    <input type="text" name="content" required>
  </div>
  <div>
    <label>Imagen</label>
    <input type="file" name="image" required>
  </div>
  <div>
    <label>Option 1</label>
    <input type="text" name="option1" required>
  </div>
  <div>
    <label>Option 2</label>
    <input type="text" name="option2" required>
  </div>
  <div>
    <label>Option 3</label>
    <input type="text" name="option3" required>
  </div>
  <div>
    <label>Option 4</label>
    <input type="text" name="option4" required>
  </div>
  <div>
    <label>Option 5</label>
    <input type="text" name="option5" required>
  </div>
  <div>
    <label>Respuesta correcta</label>
    <select name="solution">
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
      <option value="option3">Option 3</option>
      <option value="option4">Option 4</option>
      <option value="option5">Option 5</option>
    </select>
  </div>
  <div>
    <label>Retroalimentación</label>
    <input type="text" name="feedback" required>
  </div>
  <input type="submit" value="Enviar pregunta">
</form>
<a href="/courses">Finalizar</a>
</section>