<div>
  
  <div class="dashboard-image">
    <div class="white-image">
      <img src="{{user.photoUrl}}" alt="">
    </div>
  </div>
  <div id="profile-info">
    <h2>¡Bienvenido, {{ user.username }}!</h2>
    <a href="/private/settings">Configuración</a>
  </div>
  <div id="title-achievements">
  <h2>Logros</h2>

  </div>
  <div class="achievements">

    {{#each arrayCurrentMedals}}
    <div class="super-medal">
      <img src="{{this.photoUrl}}" alt="{{this.name}}">
      <h6>{{this.name}}</h6>
      <p>{{this.description}}</p>
    </div>
    {{/each}}
      
  </div>

</div>